# Sample environment configuration for different environments
# Copy this file and rename it to "development.env" for local development
# Copy this file and rename it to "production.env" for the production environment

# Development environment variables
PORT=3000
CLIENT_ID=d3ef6cdb-d69b-4a34-b95d-***********
CLIENT_SECRET=63fd9aca-b7b1-4b2b-94a9-*********
BASE_URL=http://localhost:
SCOPES=crm.objects.deals.read
REFRESH_TOKEN=92218983-97a6-4a9a-86b6-*********
TICKET_PIPELINE_TO_CHECK=147097214